<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/utilities/head', { 'title': 'Mems: Login' }) %>
    </head>
    <body>
        <%- include('partials/header', { 'showUserToolbar': false }) %>
        <main class="container">
            <%- include('partials/error') %>
            <%- include('partials/loginForm') %>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
